<script lang="ts">
    import flagFR from '/src/images/flagFR.svg?raw';
    import flagHR from '/src/images/flagHR.svg?raw';
    import flagNL from '/src/images/flagNL.svg?raw';
    import flagUK from '/src/images/flagUK.svg?raw';

    export let countryCode: string;
    export let nbPerPeople: string;
    export let responseRate: string;

    const flags: { [code: string]: string } = {
        fr: flagFR,
        hr: flagHR,
        nl: flagNL,
        uk: flagUK
    };
    const countryNames: { [code: string]: string } = {
        fr: 'FRANCE',
        hr: 'CROATIE',
        nl: 'PAYS-BAS',
        uk: 'ROYAUME-UNI'
    };
</script>

<div class="box" style:height={countryCode == 'fr' ? '314px' : '278px'}>
    <div class="flag">
        {@html flags[countryCode]}
    </div>
    <div class="countryName">
        {countryNames[countryCode]}
    </div>
    <div class="bigNum" style:color={countryCode == 'fr' ? '#fff' : 'var(--yellow)'}>
        {responseRate} %
    </div>
    <div class="accessRate">de taux d'accès</div>
    <div class="bottomStats">
        {nbPerPeople} demandes
    </div>
    <div class="bottomStatsText">pour 100 000 hab.</div>
    <div class="bottomShadow" />
</div>

<style>
    @import '/css/apfelgrotezk.css';
    @import '/css/tanker.css';
    div.bottomShadow {
        justify-self: flex-end;
        margin-top: auto;
        height: 1.5em;
        overflow: hidden;
        width: calc(100% + 8em);
        opacity: 20%;
    }
    div.bottomShadow::after {
        background-color: black;
        content: '';
        display: inline-block;
        height: 25px;
        transform: rotate(-2deg) translate(0, calc(70%));
        width: 100%;
    }
    div.box {
        align-items: center;
        background-color: var(--bgColor, #20667d);
        color: var(--color, #003b4f);
        display: flex;
        flex-direction: column;
        font-family: 'Apfel Grotezk';
        padding-inline: 4em;
    }
    div.bigNum {
        font-family: 'Tanker-Regular';
        font-size: 56px;
        font-weight: 400;
    }
    div.countryName {
        color: #fff;
        font-family: 'Apfel Grotezk';
        font-size: 17px;
        font-weight: 700;
    }
    div.accessRate {
        color: #fff;
        font-family: 'Apfel Grotezk';
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 0.8em;
    }
    div.bottomStats {
        text-align: center;
        border-top: 0.5px solid white;
        color: #fff;
        font-family: 'Apfel Grotezk';
        font-size: 24px;
        font-weight: 400;
        padding-top: 0.5em;
        width: 105%;
    }
    div.bottomStatsText {
        color: #fff;
        font-family: 'Apfel Grotezk';
        font-size: 18px;
        font-weight: 500;
    }
    div.flag {
        transform: rotate(-2deg) translate(0, -25px);
    }
</style>
