<script lang="ts">
    import LinkBox from '$lib/LinkBox.svelte';
    import Title from '$lib/Title.svelte';
    import skyline from '../../static/images/skyline.svg?raw';
    import keyboardImg from '/src/images/keyboard.svg?raw';
    import screenImg from '/src/images/screen.svg?raw';
    import userImg from '/src/images/user.svg?raw';
    import linesImg from '/src/images/lines.svg?raw';
</script>

<div id="wrapper">
    <div class="overtitle">Accéder aux informations publiques</div>
    <Title --font-size="64px" --bgColor="var(--blue-light)">un droit fondamental</Title>

    <div class="declBox">
        <div class="declTop">
            <div>
                Le droit d’accès aux documents administratifs a valeur <strong
                    >constitutionnelle</strong
                >.
            </div>
            <div>
                Il découle de la <strong>Déclaration des droits de l’Homme et du citoyen</strong
                >&nbsp;:
            </div>
        </div>
        <div class="declQuote">
            &laquo; La société a le droit de demander compte à tout agent public de son
            administration &raquo;
        </div>
        <div class="declRef">Article 15</div>
    </div>
    <div class="infoBox">
        <div class="history">
            Depuis la <strong>loi CADA de 1978</strong>, toute personne peut obtenir de nombreux
            documents publics&nbsp;:
        </div>
        <ul class="docs">
            <li class="bgYellow nf">Notes de frais</li>
            <li class="bgBlue facture">Factures</li>
            <li class="bgRed au">Autorisations d'urbanisme</li>
            <li class="bgYellow stats">Statistiques</li>
            <li class="bgBlue code">Code informatique</li>
            <li class="bgRed avis">Avis</li>
            <li class="bgYellow etc">etc.</li>
        </ul>
        <div id="lines">{@html linesImg}</div>
    </div>
    <span class="linkBL">
        <LinkBox icon="arrowRight" --color="var(--txt-black)">En savoir plus: FAQ</LinkBox>
    </span>
    <div id="skyline">{@html skyline}</div>
    <div id="user">{@html userImg}</div>
    <div id="screen">{@html screenImg}</div>
    <div id="keyboard">{@html keyboardImg}</div>
</div>

<style>
    @import '/css/apfelgrotezk.css';
    @import '/css/zilla-slab.css';
    div.declBox {
        background-color: white;
        box-shadow: 0px 0px 32px 2px rgba(113, 166, 184, 0.4);
        height: 516px;
        margin-left: 7em;
        padding: 1em;
        position: relative;
        text-align: center;
        width: 323px;
        z-index: -9;
    }
    div.declQuote {
        color: var(--red);
        font-family: 'Zilla Slab';
        font-size: 28px;
        font-weight: 400;
        line-height: 1em;
        margin-block: 0.5em;
    }
    div.declQuote::after {
        background-image: url(/src/images/feather.svg);
        background-repeat: no-repeat;
        content: '';
        height: 3em;
        position: absolute;
        transform: rotate(2deg) translate(0em, -2em);
        width: 4em;
    }
    div.declRef {
        color: var(--txt-black);
        font-family: 'Apfel Grotezk';
        font-size: 16px;
        font-weight: 400;
        margin-top: 0.3em;
        padding-inline: 1em;
        text-transform: uppercase;
    }
    div.declTop {
        color: var(--txt-black);
        font-family: 'Apfel Grotezk';
        font-size: 20px;
        font-weight: 400;
    }
    div.declTop strong {
        font-weight: 700;
    }
    div.history {
        color: var(--txt-black);
        font-family: 'Apfel Grotezk';
        font-size: 24px;
        font-weight: 400;
        width: 16em;
    }
    div.history strong {
        color: var(--red);
        font-family: 'Apfel Grotezk';
        font-size: 24px;
        font-weight: 700;
    }
    div.infoBox {
        position: absolute;
        translate: 32em -34em;
    }
    span.linkBL {
        margin-left: 5em;
        position: absolute;
        translate: 0 -5em;
        z-index: 9;
    }
    div.overtitle {
        color: var(--red);
        font-family: 'Apfel Grotezk';
        font-size: 32px;
        font-weight: 500;
        text-align: center;
    }
    div#wrapper {
        overflow: clip;
        position: relative;
    }
    div#keyboard {
        bottom: 0;
        display: block;
        position: absolute;
        translate: 50em -1.5em;
        z-index: 3;
    }
    div#screen {
        bottom: 0;
        display: block;
        position: absolute;
        translate: 52em -4em;
        z-index: -1;
    }
    :global(div#screen svg) {
        position: relative;
        z-index: 3;
    }
    div#user {
        bottom: 0;
        display: block;
        height: 246px;
        position: absolute;
        translate: 38em 0;
        z-index: 4;
    }
    div#skyline {
        bottom: 0;
        display: block;
        height: 233px;
        position: absolute;
        z-index: -2;
    }
    div#lines {
        translate: 13em -1.5em;
        scale: 1.3 1;
    }
    li.bgBlue {
        background-color: var(--blue-dark);
    }
    li.bgRed {
        background-color: var(--red);
    }
    li.bgYellow {
        background-color: var(--yellow);
        color: var(--txt-black);
    }
    li.au {
        translate: 10em 4em;
        position: absolute;
        width: 6em;
        z-index: 5;
    }
    li.au::before {
        background-image: url(/src/images/icon-au.svg);
        background-repeat: no-repeat;
        content: '';
        height: 3em;
        position: absolute;
        translate: -2.5em 2em;
        width: 3em;
    }
    li.avis {
        translate: 23em 5.5em;
        position: absolute;
        z-index: 5;
    }
    li.avis::after {
        background-image: url(/src/images/icon-avis.svg);
        background-repeat: no-repeat;
        content: '';
        height: 3em;
        position: absolute;
        translate: 0.2em 0.2em;
        width: 3em;
    }
    li.code {
        translate: 19em 2em;
        position: absolute;
        width: 8.8em;
        z-index: 5;
    }
    li.code::after {
        background-image: url(/src/images/icon-code.svg);
        background-repeat: no-repeat;
        content: '';
        height: 3em;
        position: absolute;
        translate: 0.5em -1.5em;
        width: 3em;
    }
    li.etc {
        translate: 13.8em 10.5em;
        position: absolute;
        z-index: 2;
    }
    li.facture {
        translate: 9em 0.2em;
        position: absolute;
        z-index: 5;
    }
    li.facture::after {
        background-image: url(/src/images/icon-facture.svg);
        background-repeat: no-repeat;
        content: '';
        height: 3em;
        position: absolute;
        translate: 0.1em -1.7em;
        width: 3em;
    }
    li.nf {
        translate: -0em 3em;
        position: absolute;
        z-index: 5;
    }
    li.nf::before {
        background-image: url(/src/images/icon-nf.svg);
        background-repeat: no-repeat;
        content: '';
        height: 3em;
        position: absolute;
        translate: -2.5em -1.5em;
        width: 3em;
    }
    li.stats {
        translate: 18em -1em;
        position: absolute;
        z-index: 5;
    }
    li.stats::after {
        background-image: url(/src/images/icon-stats.svg);
        background-repeat: no-repeat;
        content: '';
        height: 3em;
        position: absolute;
        translate: -0.3em -2em;
        width: 3em;
    }
    ul.docs {
        color: white;
        font-family: 'Apfel Grotezk';
        font-size: 24px;
        font-weight: 900;
        width: 16em;
    }
    ul.docs li {
        display: inline-block;
        padding-block: 0.1em;
        padding-inline: 0.6em;
    }
</style>
