<script lang="ts">
    export let theme: 'dark' | 'light';
</script>

<div class="wrapper" style:background-color={theme === 'light' ? 'var(--blue-dark)' : 'white'}>
    <span style:color={theme === 'light' ? 'white' : 'var(--blue-dark)'}> UNE INITIATIVE </span>
    <div class="logos">
        <img class="left" alt="Logo Ma Dada" src={`/images/logo-madada-${theme}.png`} />
        <img alt="Logo OpenKnownledge France" src="/images/logo-okfnfr.png" />
    </div>
</div>

<style>
    div.wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 6em;
        padding-block: 0.5em;
        padding-inline: 2em;
    }
    div.logos {
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    img.left {
        border-right: 1px solid black;
        margin-right: 1em;
        padding-right: 1em;
    }
    span {
        color: var(--blue-dark);
        font-family: 'Apfel Grotezk';
        font-size: 14px;
        font-weight: 500;
    }
</style>
