@font-face {
    font-family: 'Zilla Slab';
    src: url('/fonts/zilla-slab/ZillaSlab-Italic.woff2') format('woff2'),
        url('/fonts/zilla-slab/ZillaSlab-Italic.woff') format('woff'),
        url('/fonts/zilla-slab/ZillaSlab-Italic.otf') format('truetype');
    /* font-weight: 400; */
    font-display: swap;
    font-style: normal;
}
