<script lang="ts">
    enum ChartType {
        histogram = 'histogram',
        treemap = 'treemap'
    }
    type ChartTypeString = keyof typeof ChartType;

    export let chartType: ChartTypeString;

    console.log(`Type: ${chartType}`);
</script>

<div />
